@import './global.less';

@primary-color: @lime-6;
@primary-light: @lime-4;
@primary-lighter: @lime-3;
@primary-dark: @dark-lime-4;
@primary-darker: @dark-lime-3;

@z-index-popup-base: 1000;
@z-index-mask: @z-index-popup-base; // 1000
@z-index-modal: @z-index-popup-base + 1; // 1000

@color-bg-white: #fff;

@mask-bg-opacity: @opacity-6;
@mask-color-bg: rgba(@gray-10, @mask-bg-opacity);

@padding-small: 5px;
@padding-normal: 10px;
@padding-large: 15px;

@border-light: solid 1px @gray-3;
@border-normal: solid 1px @gray-5;
