@import './global.less';

@primary-color: @lime-6;
@primary-light: @lime-4;
@primary-lighter: @lime-3;
@primary-dark: @dark-lime-4;
@primary-darker: @dark-lime-3;

@z-index-popup-base: 1000;
@z-index-popup: @z-index-popup-base; // 1000
