@prefix: 'g';

@lime-1: #fcffe8;

@lime-2: #edf8bb;

@lime-3: #dcf190;

@lime-4: #c9e968;

@lime-5: #b5e241;

@lime-6: #9fdb1d;

@lime-7: #7eb712;

@lime-8: #5f940a;

@lime-9: #437004;

@lime-10: #2a4d00;

@gray-1: #f7f8fa;

@gray-2: #f2f3f5;

@gray-3: #e5e6eb;

@gray-4: #c9cdd4;

@gray-5: #a9aeb8;

@gray-6: #86909c;

@gray-7: #6b7785;

@gray-8: #4e5969;

@gray-9: #272e3b;

@gray-10: #1d2129;

@dark-lime-1: #2a4d00;

@dark-lime-2: #447006;

@dark-lime-3: #629412;

@dark-lime-4: #84b723;

@dark-lime-5: #a8db39;

@dark-lime-6: #b8e24b;

@dark-lime-7: #cbe970;

@dark-lime-8: #def198;

@dark-lime-9: #eef8c2;

@dark-lime-10: #fdffee;

@dark-gray-1: #17171a;

@dark-gray-2: #2e2e30;

@dark-gray-3: #484849;

@dark-gray-4: #5f5f60;

@dark-gray-5: #78787a;

@dark-gray-6: #929293;

@dark-gray-7: #ababac;

@dark-gray-8: #c5c5c5;

@dark-gray-9: #dfdfdf;

@dark-gray-10: #f6f6f6;

/******** borderSize *******/

@border-none: 0;

@border-1: 1px;

@border-2: 2px;

@border-3: 3px;

@border-4: 4px;

@border-5: 5px;

/******** radius *******/

@border-radius-none: 0;
@border-radius-small: 2px;
@border-radius-medium: 4px;
@border-radius-large: 8px;
@border-radius-circle: 50%;

/******** opacity *******/

@opacity-none: 0;
@opacity-1: 10%;
@opacity-2: 20%;
@opacity-3: 30%;
@opacity-4: 40%;
@opacity-5: 50%;
@opacity-6: 60%;
@opacity-7: 70%;
@opacity-8: 80%;
@opacity-9: 90%;
@opacity-10: 100%;

// variables
